VITE_OPENAI_API_KEY=<YOUR_OPENAI_API_KEY>
VITE_SUPABASE_URL=<YOUR_SUPABASE_URL>
VITE_SUPABASE_ANON_KEY=<YOUR_SUPABASE_ANON_KEY>
VITE_SUPABASE_SERVICE_KEY=<YOUR_SUPABASE_SERVICE_KEY>
VITE_SUPABASE_BUCKET_NAME=<YOUR_SUPABASE_BUCKET_NAME>