modules = ["nodejs-20", "web"]
run = "pnpm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5173

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 11027186

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm dev"
